<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/Home">Home</a>
    <li><a ng-href="#/geosus">OpenSUS</a></li>
    <li><a ng-href="#/transparencias">Transparências</a></li>
    <li><a ng-href="#/login">Login</a></li>
    <li><a ng-href="#/signup">Criar Conta</a></li>
    <li><a ng-href="#/help">Ajuda</a></li>
    <li><a ng-href="#/contact">Contato</a></li>
    <li class="active"><a ng-href="#/about">Sobre</a></li>
  </ul>
  <h3 class="text-muted">&nbsp;</h3>

</div>



<p>This is the about view.</p>
