<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a ng-href="#/Home">Home</a>
		<li><a ng-href="#/geosus">OpenSUS</a></li>
		<li><a ng-href="#/transparencias">Transparências</a></li>
		<li class="active"><a ng-href="#/login">Login</a></li>
		<li><a ng-href="#/signup">Criar Conta</a></li>
		<li><a ng-href="#/help">Ajuda</a></li>
		<li><a ng-href="#/contact">Contato</a></li>
		<li><a ng-href="#/about">Sobre</a></li>
	</ul>
	<h3 class="text-muted">&nbsp;</h3>

</div>


<!-- uiView:  -->
<div class="m-b-lg">
	<form name="form" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-email">
		<div class="list-group list-group-sm">
			<div class="list-group-item">
				<input type="email" placeholder="Email" class="form-control no-border ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" ng-model="user.email" required="true">
			</div>
			<div class="list-group-item">
				<input type="password" placeholder="Senha" class="form-control no-border ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="user.password" required="true">
			</div>
		</div>		
		<div class="line line-dashed"></div>		
		<a ui-sref="access.signin" class="btn btn-lg btn-default btn-block" href="#/access/signin">Login</a>
	</form>
</div>
<!-- ngInclude: 'tpl/blocks/page_footer.html' -->
